
{{#if defaultview}}
<div id="pro-view">
    {{else}}
    {{#if inpro}}
    <div id="pro-view">
        {{else}}
        <div class="d-none" id="pro-view">
    {{/if}}
{{/if}}
    {{!-- Aqui debe ir los modales --}}

    <div class="container">
        Perfil
    </div>

</div>