{{!-- MENSAJES DE CAMBIO DE CONTRASENIAS --}}
{{#if change_pass_success}}

<!-- Alerta -->
<div class="alert alert-success col-12" role="alert" id="alert">
  {{change_pass_success}}
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if change_pass_fail}}

<!-- Alerta -->
<div class="alert alert-danger col-12" role="alert" id="alert">
  {{change_pass_fail}}
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}