<div class="container py-4">
    <h1 class="row justify-content-center m-2">Mi cuenta</h1>
</div>

<div class="container ">
    <div class="row my-4 justify-content-between">
        <div class="col-4 ">
            <div class="list-group card border-success">
                <a href="#" class="list-group-item list-group-item-action ">Perfil</a>
                <a href="#" class="list-group-item list-group-item-action ">Contraseña</a>
                <a href="#" class="list-group-item list-group-item-action ">Suscripcion</a>
                <a href="#" class="list-group-item list-group-item-action ">Tarjetas</a>
            </div>
        </div>
        <div class="col-8">
            {{> artSub }}
        </div>
    </div>
</div>