
{{> navigation }}


 <!-- Modal -->

  <div
    class="modal fade"
    id="modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Editar album 
          </h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger d-none" role="alert" id="modal-alert">
            A simple danger alert—check it out!
          </div>
          <form id="form-edit" method="POST">
          <div class="row">
            <div class="col-5 d-flex align-items-center">
              <label class="m-1">Titulo</label>
              <input type="text" id="titulo-m" name='titulo' class="form-control ml-2" placeholder="Ingrese el nombre del album" required>
            </div>
            <div class="col-7 d-flex align-items-center justify-content-between">
              <label class="m-0">Fecha</label>
              <input type="date" id='fecha-m' name="fecha" class="form-control col-9" placeholder="20/02/2020" required>
            </div>
            <div class="col-5 d-flex align-items-center justify-content-between my-2">
                <label class="m-0">Numero de pistas</label>
                <input type="number" id="npistas-m" name="npistas" class="form-control col-4" placeholder='0' required>
            </div>
            <div class="col-7 d-flex align-items-center justify-content-between my-2">
                <label class="m-0">Genero</label>
                <input type="text" id="genero-m" name='genero' class="form-control col-9" placeholder="Ingrese el genero" required>
            </div>

            <div class="col-5 d-flex aling-items-center justify-content-between">
                <label class="m-1">Precio</label>
                <input type="number" id="precio-m" name="precio" class="form-control col-4" placeholder="0.00" step="0.01" required>
            </div>

            <div class="col-7 d-flex aling-items-center">
              <label class="m-1">URL</label>
              <input type="text" id="url-m" name='url' class="form-control " placeholder="Ingrese el link del album" required>
            </div>
            
          </div>
          <div class="modal-footer m-2">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button type="submit" class="btn btn-info" id="modal-btn">
             Guardar
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <main>
    <div class="container pt-3">
      <div class="alert alert-danger d-none" role="alert" id="alert">
        A simple danger alert—check it out!
      </div>

      <!-- Agregar album -->

      <div>
        <form action="/home/addmusic/album" method="POST" class="d-flex">
          <div class="col-10">
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                  <label class="m-1">Titulo</label>
                  <input type="text" id="titulo" name='titulo' class="form-control ml-2" placeholder="Ingrese el nombre del album" required>
                </div>
                <div class="col-7 d-flex align-items-center justify-content-between">
                  <label class="m-0">Fecha</label>
                  <input type="date" name="fecha" class="form-control col-9" placeholder="20/02/2020" required>
                </div>
            </div>

            <div class="row">
              <div class="col-5 d-flex align-items-center justify-content-between my-2">
                  <label class="m-0">Numero de pistas</label>
                  <input type="number" id="npistas" name="npistas" class="form-control col-4" placeholder='0' required>
              </div>
              <div class="col-7 d-flex align-items-center justify-content-between my-2">
                  <label class="m-0">Genero</label>
                  <input type="text" id="genero" name='genero' class="form-control col-9" placeholder="Ingrese el genero" required>
              </div>
            </div>

            <div class="row">
              <div class="col-5 d-flex aling-items-center justify-content-between">
                <label class="m-1">Precio</label>
                <input type="number" id="precio" name="precio" class="form-control col-4" placeholder="0.00" step="0.01" required>
              </div>

              <div class="col-7 d-flex aling-items-center justify-content-between">
                <label class="m-1">URL</label>
                <input type="text" id="url" name='url' class="form-control ml-2" placeholder="Ingrese el link del album" required>
              </div>
            </div>
          </div>

          <div class="col-2 d-flex align-items-center">
              <button type="submit" class="btn btn-info btn-block" id="add">
                  Agregar
                </button>
          </div>
        </form>
      </div>

      {{> listAlbum }}

    </div>
  </main>


{{!-- href="/home/addmusic/edit/{{id_al}}" --}}