<div class="container py-4">
    <h1 class="row justify-content-center m-2">Algo salio mal :(</h1>
</div>
<div class="container">
    <h2>Por favor adquiere uno de nuestros planes para subir tu musica libremente...</h2>
</div>