<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card border-primary d-flex align-items-end">
                {{!-- <div class="p-4 text-center">
                    <img src="img/logo-epicentroarte.png" width="100" class="img-fluid rounded mr-4"
                        alt='Logo epicentro' />
                </div> --}}
                <div class="align-self-center pt-5">

                    <h1 class="mb-4">Bienvenido de vuelta</h1>

                    {{> message}}

                    <form class="mb-5" action="/signin" method="POST">
                        <div class="mb-4">
                            <label class="form-label ">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Ingresa tu email">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="password"
                                placeholder="Ingresa tu contraseña">

                        </div>
                        <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                    </form>
                </div>
                <div class="text-center p-4 w-100">
                    <p class="mb-0">¿Todavia no tienes una cuenta?</p> <a href="/signup">Crea una ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>